<h2>CONTACTANOS</h2>
<div class="d-flex">
  <div class="flex-grow-1 p-4">
    <div class="mb-3">
      <span class="bi bi-envelope-check-fill mx-3"></span><span>colcafe-net.@gmail.com</span>
    </div>
    <div class="mb-3">
      <span class="bi bi-geo-alt-fill mx-3"></span><span>Av.Manzaneros #1304 Int.105</span>
    </div>
    <div class="mb-3">
      <span class="bi bi-headset mx-3"></span><span>052-653411</span>
    </div>
    <div class="mb-3">
      <span class="bi bi-telephone-inbound mx-3"></span><span>945124429</span>
    </div>
    <div class="d-flex fs-2">
      <a href="#"><span class="bi bi-facebook mx-3"></span></a>
      <a href="#"><span class="bi bi-telegram mx-3"></span></a>
      <a href="#"><span class="bi bi-whatsapp mx-3"></span></a>
    </div>
  </div>
  <form class="flex-grow-1 p-4">
    <div class="my-3">
      <input type="text" class="form-control" placeholder="Nombre" required>
    </div>
    <div class="mb-3">
      <input type="text" class="form-control" placeholder="Email" required>
    </div>
    <div class="mb-3">
      <input type="text" class="form-control" placeholder="Asunto" required>
    </div>
    <div class="mb-3">
      <textarea rows="5" class="form-control">Mensaje</textarea>
    </div>
    <div class="mb-3">
      <button class="btn btn-success">Enviar</button>
    </div>
  </form>
</div>