:host{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    padding: 1.5rem;
}
div[class='card']{
    width: 25vw;
    transition: all 0.5s ease-in-out;
    img{
        width: 25vw;
        height: 15rem;
    }
    &:hover{
        transform: scale(1.1, 1.1);
    }
}